body {
    max-width: 640px;
    margin: 20px auto;
    padding: 20px 20px;
    background-color: #f0f0ee;
    font-size: 18px;
    line-height: 1.6;
}

main,
footer {
    text-align: center;
}

h1,
h2,
h3 {
    line-height: 1.2;
}
